body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  min-height: 100vh;
}

.footer {
  flex-shrink: 0;
}

.collapsed>.when-opened,
:not(.collapsed)>.when-closed {
  display: none;
}

.when-opened,
.when-closed {
  font-size: 2rem;
}

.error {
  color: red;
}
